.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 210px;
  height: 210px;
}

.card img {
  /* margin: 30px 20px 0 0; */
}

.homePic{
  display:flex;
  justify-content: center;

}

